:root {
  --fc-void: #08080A;
  --fc-ink: #15171A;
  --fc-ember-line: #151E25;
  --fc-tide-line: #152630;
  --fc-carbon: #1C1C1E;
  --fc-graphite: #23252A;
  --fc-surface: #2F3238;
  --fc-deep-ocean: #203340;
  --fc-slate: #39444F;
  --fc-steel: #5A6068;
  --fc-muted: #808389;
  --fc-mist: #A9ACB1;
  --fc-silver: #D1D1D4;
  --fc-white: #FDFDFC;
  --fc-deep-cyan: #04455D;
  --fc-ocean: #037493;
  --fc-cyan: #02A2BC;
  --fc-aqua: #04B7C4;
  --fc-electric-cyan: #09C5CB;
  --fc-glacier: #6CE0E1;
  --fc-ice-blue: #C4D9E5;
  --fc-ember-shadow: #4A0B09;
  --fc-crimson: #A30A06;
  --fc-red: #F92703;
  --fc-orange: #FB3402;
  --fc-flame: #FE7501;
  --fc-amber: #FE9F09;
  --fc-gold: #FFDB4B;
  --fc-sun: #FFE861;

  --fc-semantic-background: #08080A;
  --fc-semantic-uiBackground: #15171A;
  --fc-semantic-surface: #1C1C1E;
  --fc-semantic-elevatedSurface: #23252A;
  --fc-semantic-border: #2F3238;
  --fc-semantic-foreground: #D1D1D4;
  --fc-semantic-mutedForeground: #808389;
  --fc-semantic-comment: #808389;
  --fc-semantic-keyword: #FB3402;
  --fc-semantic-operator: #FE7501;
  --fc-semantic-function: #04B7C4;
  --fc-semantic-type: #6CE0E1;
  --fc-semantic-property: #C4D9E5;
  --fc-semantic-string: #FFE861;
  --fc-semantic-number: #FE9F09;
  --fc-semantic-constant: #FFDB4B;
  --fc-semantic-error: #F92703;
  --fc-semantic-warning: #FE9F09;
  --fc-semantic-info: #02A2BC;
  --fc-semantic-success: #04B7C4;
}
