name: Publish on Release

on:
  release:
    types: [published]

jobs:
  pypi-publish:
    name: Build and Publish to PyPI
    uses: ./.github/workflows/publish-pypi.yml
    permissions:
      contents: read
      id-token: write
    with:
      tag: ${{ github.event.release.tag_name }}
    secrets: inherit
